<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>{{ company_name }}</h5>
                <p>Professional Hotel Furniture Manufacturer<br>Creating Premium Hospitality Spaces Worldwide</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/products" class="text-white">Products</a></li>
                    <li><a href="/about" class="text-white">About Us</a></li>
                    <li><a href="/contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Information</h5>
                <p>Phone: +86-400-888-1234<br>Email: sales@hotel-furniture.com<br>Address: Furniture Industrial Park, XXX City, China</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="mb-0">&copy; {{ current_year }} {{ company_name }} All Rights Reserved</p>
        </div>
    </div>
</footer>